.btn-black {
    background-color: black !important;
    color: white !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  body{
    background-color:black;
}